importFrom("devtools", "install_github")
importFrom("fields", "image.plot")
import("ggplot2")
importFrom("grDevices", "colorRampPalette")
importFrom("stats", "kmeans", "prcomp", "predict")
import("terra")
importFrom("viridis", "scale_fill_viridis", "viridis")

exportPattern("^[[:alpha:]]+")
